* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/bg2.jpg");
    background-size: cover;
    color:white;
    justify-content:center;
}

.title {
    font-size:4em;    
    font-weight:700px;
}

.container {
    padding:4vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    width:100vw;
    height:100vh;
    -webkit-text-stroke: 10px solid black;

}

.a-bod {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}


.footer {
    display:flex;
    align-items:center;
    justify-content: flex-end;
    position:fixed;
    bottom:0;
    font-size:2.5em;
    width:100vw;
    gap:1vw;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.footer a {
    transition: 0.3s;
}

.footer a:hover {
    color:rgb(175, 171, 171);
}

.net:hover::after {
    content: "5G";
    position:absolute;
    font-size: 0.5em;
    background-color: rgba(0, 0, 0, 0.671);
    padding: 2px 5px;
    border-radius: 3px;
}

.battery {
    margin-right:4vw;
}
.battery:hover::after {
    content: "99%";
    position:absolute;
    font-size: 0.5em;
    background-color: rgba(0, 0, 0, 0.671);
    padding: 2px 5px;
    border-radius: 3px;
}
.access:hover::after {
    content: "Connected";
    position:absolute;
    font-size: 0.5em;
    background-color: rgba(0, 0, 0, 0.671);
    padding: 2px 5px;
    border-radius: 3px;
}

.container > h1 {
    position:absolute;
    bottom:30%;
    left:50%;
    font-weight:inherit;
}